@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --cyan-light: hsl(179, 65%, 47%);
  --bright-yellow: hsl(71, 73%, 54%);
  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --white: #fff;
  /* Fonts */
  --primary-font: 'Karla', sans-serif;
}

html {
  font-size: 62.5%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: var(--light-gray);
  font-family: var(--primary-font);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  min-height: inherit;
  display: grid;
  place-items: center;
}

.subscription {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas:
    'intro intro '
    'plan features ';
  border-radius: 1em;
  width: 635px;
  min-height: auto;
  overflow: hidden;
  box-shadow: -1px 6px 52px -33px rgba(0, 0, 0, 0.75);
}

.subscription__intro,
.subscription__plan,
.subscription__features {
  padding: 4rem;
  color: var(--white);
}

.subscription__intro {
  grid-area: intro;
  background: var(--white);
}

.subscription__intro-heading {
  color: var(--cyan);
  font-size: 2.35rem;
}

.subscription__intro-guarantee {
  color: var(--bright-yellow);
  font-size: 1.8rem;
  letter-spacing: -0.2px;
  padding-top: 2.35rem;
}

.subscription__intro-description {
  color: var(--grayish-blue);
  font-size: 1.6rem;
  letter-spacing: -0.15px;
  line-height: 1.55;
  padding-top: 1.2rem;
}

.subscription__plan {
  grid-area: plan;
  background: var(--cyan);
}

.subscription__plan-subscription {
  font-size: 1.8rem;
  letter-spacing: -0.2px;
}

.subscription__plan-price {
  padding-top: 1.75rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.subscription__plan-price-amount {
  font-size: 3.1rem;
  font-weight: 700;
  letter-spacing: -0.15px;
}

.subscription__plan-price-plan {
  font-size: 1.6rem;
  color: var(--light-gray);
}

.subscription__plan-description {
  font-size: 1.57rem;
  padding: 1rem 0 2.8rem 0;
}

.subscription__plan-cta {
  width: 100%;
  padding: 1.55rem 2rem;
  color: var(--white);
  font-size: 1.55rem;
  font-weight: 700;
  background: var(--bright-yellow);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0px 15px 59px -17px rgba(0, 0, 0, 0.75);
}

.subscription__features {
  grid-area: features;
  background: var(--cyan-light);
}

.subscription__features-title {
  font-size: 1.8rem;
  letter-spacing: -0.2px;
}

.subscription__features-list {
  padding-top: 1.95rem;
  display: flex;
  flex-direction: column;
  font-size: 1.37rem;
  gap: 0.4rem;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: url('../design/desktop-design.jpg') no-repeat center; */
  background-size: auto;
  opacity: 0.5;
  pointer-events: none;
}

.attribution {
  padding: 2rem 0;
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: inherit;
  text-decoration: none;
}

.attribution a:hover {
  color: var(--cyan);
  text-decoration: underline;
}

@media only screen and (max-width: 650px) {
  .subscription {
    width: 97%;
  }
}

@media only screen and (max-width: 540px) {
  .subscription {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'intro'
      'plan'
      'features';
  }
}

@media only screen and (max-width: 375px) {
  .subscription {
    width: 90%;
  }

  .subscription__intro,
  .subscription__plan,
  .subscription__features {
    padding: 3rem;
  }

  .subscription__intro-description {
    font-size: 1.4rem;
  }
}
